<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Create user</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Data Submission Form</a>

      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">User Management</a>
          </li>
        </ul>
      </div>
    </nav>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content card">
          <div class="text-center">Update User</div>
          <div class="form-cont">
            <form
              th:action="@{/users/{id} (id=${user.id})}"
              th:object="${user}"
              method="POST"
            >
              <div class="form-group">
                <label>Name:</label>
                <input
                  type="text"
                  id="name"
                  placeholder="Name"
                  name="name"
                  th:field="*{name}"
                  required
                />
              </div>
              <div class="form-group">
                <label for="photoUrl">Photo URL:</label>
                <input
                  type="url"
                  id="photoUrl"
                  placeholder="PhotoUrl"
                  name="photoUrl"
                  th:field="*{photoUrl}"
                  required
                />
              </div>

              <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input
                  type="tel"
                  id="phoneNumber"
                  placeholder="phoneNumber"
                  name="phoneNumber"
                  th:field="*{phoneNumber}"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>

                <input
                  type="email"
                  id="email"
                  placeholder="Email"
                  name="email"
                  th:filed="*{email}"
                  required
                />
              </div>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
